*{
    padding: 0;
    margin: 0;
    text-align: center;
}

body{
    border-radius: 50%;
}
h1{
    height: 5rem;
    background-color: #081b31;
    color: white;
    line-height: 5rem;
    border-radius: 12px;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 84%;
    width: 112%;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.choice:hover{
background-color: #081b31;
}

.score-board{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
   gap: 5rem;
   font-size: 250%;
}
#user-score{
    font-size: 200%;
}

#comp-score{
    font-size: 200%;
}

.msg-container{
    margin-top: 2rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 200%;
    margin-top: 0.1%;
    display:inline-block;
    padding: 1rem;
    border-radius: 1rem;
    /* height: %; */
    width: 60%;
}

body{
    border: #a5b4c4 double 10px;
    border-bottom: 2px;
    height: 80vmin;
    flex-direction: column;
}

.credit{
    position: absolute;
    top: 120px;
    left: 20px;
    font-size: 110%;
    font-weight: 900;        /* Extra bold */
    color: black;
    font-family: 'Arial Black', 'Segoe UI', sans-serif;
}
